<?xml version="1.0" ?>
<config>
    <modules>
        <Speroteck_Request>
            <version>1.0.1</version>
        </Speroteck_Request>
    </modules>
    <global>
        <models>
            <request>
                <class>Speroteck_Request_Model</class>
                <resourceModel>request_resource</resourceModel>
            </request>
            <request_resource>
                <class>Speroteck_Request_Model_Resource</class>
                <entities>
                    <request>
                        <table>speroteck_requests</table>
                    </request>
                </entities>
            </request_resource>
        </models>
        <resources>
            <request_setup>
                <setup>
                    <module>Speroteck_Request</module>
                </setup>
            </request_setup>
        </resources>
        <blocks>
            <request>
                <class>Speroteck_Request_Block</class>
            </request>
        </blocks>
        <helpers>
            <Speroteck_Request>
                <class>Speroteck_Request_Helper</class>
            </Speroteck_Request>
        </helpers>
    </global>
    <frontend>
        <routers>
            <requestform>
                <use>standard</use>
                <args>
                    <module>Speroteck_Request</module>
                    <frontName>requestform</frontName>
                </args>
            </requestform>
        </routers>
        <layout>
            <updates>
                <request module="Speroteck_Request">
                    <file>speroteck/request.xml</file>
                </request>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Speroteck_Request after="Mage_Adminhtml">Speroteck_Request_Adminhtml</Speroteck_Request>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
    </default>
</config>