<?xml version="1.0"?>
<config>
    <modules>
        <Speroteck_SaleRecommendation>
            <version>1.0.0</version>
        </Speroteck_SaleRecommendation>
    </modules>
    <global>
        <models>
            <salerecommendation>
                <class>Speroteck_SaleRecommendation_Model</class>
                <resourceModel>salerecommendation_resource</resourceModel>
            </salerecommendation>
        </models>
        <resources>
            <salerecommendation_setup>
                <setup>
                    <module>Speroteck_SaleRecommendation</module>
                    <class>Mage_Sales_Model_Entity_Setup</class>
                </setup>
            </salerecommendation_setup>
        </resources>
        <blocks>
            <salerecommendation>
                    <class>Speroteck_SaleRecommendation_Block</class>
            </salerecommendation>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <salerecommendation module="Speroteck_SaleRecommendation">
                    <file>speroteck/salerecommendation.xml</file>
                </salerecommendation>
            </updates>
        </layout>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <Speroteck_SaleRecommendation>
                        <type>model</type>
                        <class>salerecommendation/observer</class>
                        <method>addSaleRecommendation</method>
                    </Speroteck_SaleRecommendation>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <salerecommendation module="Speroteck_SaleRecommendation">
                    <file>speroteck/salerecommendation.xml</file>
                </salerecommendation>
            </updates>
        </layout>
    </adminhtml>
</config>